
<form action="/getBooking" method="post">
  <input type="text" name="zipcode" id="" value="" />
  <select>
    <option>roofing</option>
    <option>exterior painting</option>
    <option>kitchen</option>
    <option>floors</option>
  </select>
  <input type="submit" name="" id="" value="Go!" />
</form>
